@import 'ember-paper';
@import 'ember-paper-data-table';

md-icon.md-default-theme.SUCCEED {
  color: #00FF00;
}

md-icon.md-default-theme.FAILED {
  color: #FF0000;
}

md-icon.md-default-theme.FAILED-ACKED {
  color: #FFA500;
}

md-icon.md-default-theme.PRERUN {
  color: #008080;
}

md-icon.md-default-theme.STARTED {
  color: #6b8e23;
}

md-icon.md-default-theme.ACTIVE {
  color: #00FF00;
}

md-icon.md-default-theme.UNACTIVE {
  color: #FF0000;
}


p.SUCCEED {
  color: #00FF00;
}

p.FAILED {
  color: #FF0000;
}

p.FAILED-ACKED {
  color: #FFA500;
}

p.PRERUN {
  color: #008080;
}

p.STARTED {
  color: #6b8e23;
}

p.RETRIED {
  color: rgb(112, 58, 58);
}