@import 'ember-paper';
@import 'ember-paper-data-table';

md-icon.md-default-theme.green {
  color: #00FF00;
}

md-icon.md-default-theme.red {
  color: #FF0000;
}

md-icon.md-default-theme.orange {
  color: #FFA500;
}

md-icon.md-default-theme.teal {
  color: #008080;
}

md-icon.md-default-theme.olive {
  color: #6b8e23;
}

p.green {
  color: #00FF00;
}

p.red {
  color: #FF0000;
}

p.orange {
  color: #FFA500;
}

p.teal {
  color: #008080;
}

p.olive {
  color: #6b8e23;
}