@import 'ember-paper';
@import 'ember-paper-data-table';

md-card {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12);
}

md-icon.md-default-theme.SUCCEED {
  color: #00FF00;
}

md-icon.md-default-theme.FAILED {
  color: #FF0000;
}

md-icon.md-default-theme.FAILED-ACKED {
  color: #FFA500;
}

md-icon.md-default-theme.PRERUN {
  color: #008080;
}

md-icon.md-default-theme.STARTED {
  color: #6b8e23;
}

md-icon.md-default-theme.ACTIVE {
  color: #00FF00;
}

md-icon.md-default-theme.active {
  color: #00FF00;
}

md-icon.md-default-theme.INACTIVE {
  color: #FF0000;
}

md-icon.md-default-theme.inactive {
  color: #FF0000;
}


p.SUCCEED {
  color: #00FF00;
}

p.FAILED {
  color: #FF0000;
}

p.FAILED-ACKED {
  color: #FFA500;
}

p.PRERUN {
  color: #008080;
}

p.STARTED {
  color: #6b8e23;
}

p.RETRIED {
  color: rgb(112, 58, 58);
}

md-input-container.md-default-theme.task_label {
  margin: 8px 0;
}