{{#paper-card as |opt-card|}}
  {{#opt-card.header as |header|}}
    {{#header.text as |text|}}
      {{#text.title}}Options{{/text.title}}
    {{/header.text}}
  {{/opt-card.header}}
  {{#paper-list}}
    {{#each-in options as |key value|}}
    {{#paper-item}}
    <p>{{key}}</p>
    <div class="md-secondary-container">
      <p>{{value}}</p>
    </div>
      {{paper-divider}}
    {{/paper-item}}
    {{/each-in}}
  {{/paper-list}}
{{/paper-card}}