{{#paper-card as |opt-card|}}
  {{#opt-card.header as |header|}}
    {{#header.text as |text|}}
      {{#text.title}}Details{{/text.title}}
    {{/header.text}}
  {{/opt-card.header}}
  {{#paper-list}}
  {{#each details as |detail|}}
    {{#paper-item}}
    <p>{{detail.name}}</p>
    <div class="md-secondary-container">
      <p>{{get task detail.key}}</p>
    </div>
      {{paper-divider}}
    {{/paper-item}}
  {{/each}}
  {{/paper-list}}
{{/paper-card}}