<div class="ui clearing segment">
  {{log columns}}
  {{table-grid
      columns=columns
      model=model
      prev=prev
      next=next
      pagination=model.meta.pagination
      redirectTo='task'
      queryParams='task'}}
</div>