{{#data-table
  content=model
  isLoading=isLoadingModel
  enableSizes=false
  filter=filter
  sort=sort
  page=page
  size=size
  onClickRow=(route-action "onClick")
  as |t|
}}
  {{#t.content as |c|}}
    {{#c.header}}
      <th></th>
      <th>Worker</th>
      <th>State</th>
    {{/c.header}}
    {{#c.body as |row|}}
    {{log row}}
      <td>
        {{#paper-icon "power-settings-new" class=row.state }}
          {{#paper-tooltip position="right"}}
            {{row.state}}
          {{/paper-tooltip}}
        {{/paper-icon}}
      </td>
      <td>{{row.name}}</td>
      <td>{{row.state}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
