<div class="ui segment">
  <table class="ui small selectable table">
    <thead>
      <tr>
        <th>Worker</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |worker|}}
      {{#link-to 'worker' (query-params worker=worker.id) tagName="tr" class=worker.stateColor }}
      <td>{{worker.name}}</td>
      <td>{{worker.state}}</td>
      {{/link-to}} {{/each}}
    </tbody>
  </table>
</div>